:root{
    ---cor-de-fundo:var(---cor-de-fundo) #64535d;
    ---cor-de-fonte:var(---cor-de-fonte) #122f7e;
   color: rgb(255, 255, 255);
   background-color:#122f7e;
body{
.tilt-warp-uniquifier> {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
}